<body class="profile-body-bg">

<div class="profile" >
<img src="https://lianaminassian.files.wordpress.com/2015/07/s1e18_waddles_stare.png" alt="pig" class='profile-pic'>
  This is Your Profile Page <%= @user.email %>

<div>
  <% if @user != current_user && !(@user.followed_by?(current_user)) %>
    Follow <%= @user.email %><%= button_to "🙋", follows_url, method: :post, :id => 'follow'  %>
  <% end %>
</div>

</div>
<br>
<div class="followers"> Followers:
<% @friends.each do |x| %>
<div class="">
  <img src="https://lianaminassian.files.wordpress.com/2015/07/s1e18_waddles_stare.png" alt="pig" class='followers-pic'>
  <%= x.email %>

</div>
<% end %>
</div>

</body>
