  <h1>Personalised feed</h1>
  <% if @b.empty? %>
    <h3>You haven't followed anyone</h3>
  <% else %>
    <% @b.each do |post| %>
      <div>
        <%= post.message %><br>
        <%= post.user.email %><br>
        <small><%= post.created_at %></small>
      </div>
      <br>
    <% end %>
  <% end %>
