
<center>
<body class="body">
<div class="message_box">
  <div class="container">
     <br>
         Message<br>

     <img src = "https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/central-perk-friends-james-carroll.jpg" width=70% height=70%>
</div>
  <%= form_for @post do |form| %>

  <%= form.text_field :message%>
  <%= form.submit "Submit", id:"submit_post"%>

<% end %>
</div>

</body>
