/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

 .title {
 color: #003300;
 font: 38px Lucida;
 border: 5px solid BurlyWood;
 margin-left: 40%;
 margin-right: 40%;
 border-radius: 20px
}


.time_line {
color: #0000e6;}

.bottom_line {
 color: #0000e6;}

.posts {
background-color: #f0f0f5;
color: #003300;
font: 18px Lucida;
margin-left: 30%;
margin-right: 30%;
margin-top: 1%;
margin-bottom: 1%;
border-bottom: 1px;
border-style: dotted;
border-radius: 15px 80px;
border: 5px solid BurlyWood;
padding: 5px;
}

.back {
background-color: #8585ad;
}

.body {
background-color: #8585ad;}

.image_friends {
}
.message_box {
  width: 300px;
  background-color: #f0f0f5;
  color: #003300;
  font: 18px Lucida;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px;
  border-style: dotted;
  border-radius: 15px 80px;
  border: 5px solid BurlyWood;
  padding: 20px;

}
